__generated/*
.gitignore
.redwood/*
.yarn
api/dist/*
api/node_modules/*
api/types/graphql.d.ts
graphql.config.js
mobile/__generated/*
mobile/dist/*
mobile/.expo/*
mobile/android/*
mobile/src/generated/*
mobile/api/graphql/types/*
mobile/app.config.ts
mobile/ios/*
mobile/metro.config.js
mobile/node_modules/*
mobile/offlineDatabase/graphql/types/*
node_modules/*
web/node_modules/*
web/types/graphql.d.ts
web/dist/*
